@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div#__next{
	height : 100%;
  overflow-y: scroll;
}
div#__next {
  display: flex;
  flex-direction: column;
}

div.main-content {
  flex: 1 0 auto;
}

div.footer-content {
  flex-shrink: 0;
}

.logo {
  @apply text-gray-200 mx-1;
}
